// Edit Form
<div id="editForm" class='bg-dark hidden formClass mt-3 mr-auto ml-auto text-white text-center'>
    <h5 class='pt-3'>Edit An Employees' Info</h5>
    <form class='p-3'>
      <label class='m-0' for='id'>Enter Id</label>
      <input class ='mb-2 text-center inputText' placeholder='Employee Table ID' type='text'>
      <label for='fname'>Enter First Name</label>
      <input class='mb-2 text-center'name='fname' placeholder='First Name' type='text'></input>
      <label class='m-0' for='l2Name'>Enter Last Name</label>
      <input class='text-center mb-3' name='l2name' placeholder='Last Name' type='text'></input>
      <label class='m-0' for='select'>Select Shift</label>
      <select class='mb-2' name='select'>
        <option>1</option>
        <option>2</option>
        <option>3</option>
      </select>
      <label class='m-0' for='phone2'>Updated Phone Number</label>
      <input class='mb-3 text-center' name='phone2' type='text' placeholder='xxx-xxx-xxxx'></input>
      <input type="submit" value="Update" class='btn submitClass btn-primary'></input>
    </form>
  </div>