<!--navBar-->
<div id="nav" class="container-fluid bg-primary">
    <div class="btn-group-vertical bg-primary marginTop sticky-top">
      <a href="./MainPage.html"class="btn btn-primary">Home</a>
      <a href="./Italpasta_data_reciever.html" class="btn btn-primary mt-4">Agency Tracker</a>
      <a href="./employeeNamesandNumbers.html" class="btn btn-primary current mt-4">Employee List</a>
      <a href="./incidentReport.html" class="btn btn-primary mt-4">Incident Reports</a>
      <a href="./tubeSearch.html" class="btn btn-primary mt-4">Tube Search Tool</a>
      <a href ="./signIn.html"class="btn btn-primary mt-4">Sign in</a>
    </div>
  </div>