<!--Operation Success-->
<div id="operationSuccessful" class="hidden mt-5">
    <img src="../Images+Icons/check-mark.svg" class="checkMarkImg"></img>
    <div class='sucessTextWrapper'>
      <h5>Operation Succesful!</h5>
      <input id="operationSuccessfulBtn" type='submit' value='Ok!'class="btn btn-primary mt-4 submitClass" ></input>
    </div>
</div>